{% load staticfiles %}
<div class="col-md-8 order-2">
    {% for project in projects %}
        <section data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" id="post-37"
                 class="aos-item post-37 post type-post status-publish format-gallery has-post-thumbnail hentry category-lifestyle tag-general tag-lifestyle tag-london tag-village post_format-post-format-gallery">
            I am now a graduate student pursuing a Master of Science in Computer Science (started Fall 2019 term) and I
            feel this position will help me grow more professionally.

            The thirst for knowledge has always been and always will be a part of me. I have been a part of a community
            iQube, during my undergraduate course which provided me over 2 years of working experience in real time
            projects. Also, during my undergraduate studies, I was the technical lead for Yugam, a cultural tech fest
            (one of the biggest events that happens for one complete week annually) at my university. This event
            gathered a participant count of 17000 students and generated a revenue most profitably. Along with
            engineering a huge potential website like that, I also explored the obtained data and did exploratory data
            analysis over it. Unfortunately, I cannot speak more about the results as it is a work done associated with
            the community. The results were obtained and plotted with the principles in data visualization. This
            analysis helped the whole institution’s management to get an idea of where to focus more on the next
            upcoming cultural fests.
            <br><br><br><br>

            Also, during my undergraduate studies I worked on a research paper under the guidance of Professor. V.P
            Sumathi, Kumaraguru College of Technology. This helped me to learn the nuances in data analysis. The
            exploratory data analysis results were successful to show a positive correlation between the participation
            time of the player and the gross domestic product of the player’s country. These were proved with the
            necessary graphs.
            <br><br><br><br>
            My final work in my undergraduate studies was building a conversational agent which suggests the user with
            the daily routine tasks. The application captures the routine work done by the user and finds a pattern to
            suggest it later. Using natural language processing model and generative temporal memory model, the agent
            was made to be a conversational agent giving a very human - like experience. The obtained accuracy and
            precision values were around 82%. I can say that I have a beginner level experience in Machine learning.
            <br><br><br><br>
            Evidently, my attached resume will show that I am well versed with computers and in developing high
            potential websites. The rest of the qualifications listed in the portal are profusely met with the work I
            have done in one of my undergraduate projects and the team I led in the community. I am also a developer
            versed with version control and collaboration tools. The websites are developed with meticulous attention to
            detail which works seamlessly across most of the devices. Also, my experience in my recent position in
            Fourkites, Inc was an additional advantage which also included the task of writing the technical
            documentation for the features and updates on the software application I worked on.
            <br><br><br><br>
            The opportunity and responsibilities are so interesting and I am eager to learn each and every one of them.
            I am very excited to work on these objectives and look forward to getting a positive reply from your side.
            The previous work which I have done in my undergrad and during my ongoing Masters program is a combination
            of both software engineering and data science. Showcasing this as evidence to prove that I am capable of
            working in a multidisciplinary field/domain. All of these works are a culmination of my very own efforts and
            passion towards technology. An opportunity like this will definitely boost my career and I assure you to be
            a valuable asset to the company.
            <br><br><br><br>
            I am sure that I can manage the working hours and if offered I will work more diligently. My steadfastness
            in never giving up has always improved my determination and perseverance to learn and work with utmost
            diligence. If some of the responsibilities are new to me, my resolute attitude will make me learn them
            deliberately with some training obtained from the seniors.
            <br><br><br><br>
            Vidhyasagar Udayakumar
            https://www.linkedin.com/in/vidhyasagar-udayakumar/

        </section>
    {% endfor %}
</div>